<div class="row">
    <!-- Left Column -->
    <div class="col-md-6">
        <h2>About</h2>
        <p>
            Welcome to our eCommerce store! This platform is a part of my WEB322 course project. 
            I am currently studying CPA (Computer Programming - Analysis) and have an interest in web development, programming, and technology. 
            My goal is to build full-stack applications and improve my development skills.
        </p>
    </div>
    <!-- Right Column -->
    <div class="col-md-6">
        <h2>Coming Soon</h2>
        <p>
            Stay tuned for future updates! New features and improvements will be added soon.
        </p>
    </div>
</div>
